*.tfstate
*.tfstate.*
terraform_dir/.terraform/*
terraform_dir/**/*.terraform/*
terraform_dir/*.tfstate
terraform_dir/*.tfstate.*
terraform_dir/crash.log
terraform_dir/crash.*.log
terraform_dir/*.tfvars
terraform_dir/*.tfvars.json
terraform_dir/override.tf
terraform_dir/override.tf.json
terraform_dir/*_override.tf
terraform_dir/*_override.tf.json
terraform_dir/.terraformrc
terraform_dir/terraform.rc
nothing
terraform_dir/registry.terraform.io/*
terraform_dir/graph*
terraform_dir/internal_only
terraform_dir/nr.yaml
